
<app-header>

</app-header>

<main>
  <div class="row p-3">
    <div class="col-4 offset-2">
      <input type="text" class="form-control" placeholder="Keresés..." [(ngModel)]="filter">
    </div>
    <div class="col-4 text-end">
      <button class="btn btn-primary">Új Recept Hozzáadása <i class="bi bi-clipboard-plus"></i></button>
    </div>
  </div>
  <div class="row">
    <span class="col-2"></span>
    <div class="accordion accordion-flush col-8 p-3" id="accordionExample">
        <div class="accordion-item" *ngFor="let etel of recipes | Filter:filter; let i = index;">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed d-flex justify-content-between" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#accordion-item-' + i">
              <h4>{{etel.nev}}</h4>
            </button>
          </h2>
          <div [attr.id]="'accordion-item-' + i" class="accordion-collapse collapse" aria-labelledby="headingOne">
            <div class="accordion-body row">
              <div class="col-5 p-2">
                  <h5>Összetevők</h5>
                  <table>
                    <ul>
                      <li *ngFor="let osszetevo of etel.osszetevok; let idx = index;">
                        <tr class="m-3">
                          <td *ngIf="!osszetevo.szerkesztes">{{ osszetevo.mennyiseg }}</td>
                          <td *ngIf="osszetevo.szerkesztes" ><input type="text" [(ngModel)]="osszetevo.mennyiseg" style="width: 120px;"></td>
                          <td *ngIf="!osszetevo.szerkesztes">{{ osszetevo.osszetevo }}</td>
                          <td *ngIf="osszetevo.szerkesztes" ><input type="text" [(ngModel)]="osszetevo.osszetevo" style="width: 120px;"></td>
                          <td>
                            <button *ngIf="(!osszetevo.szerkesztes && etel.Ingredientsediting)" class="btn btn-sm" (click)="EditIngredient(etel, osszetevo, idx)">
                              <i class="bi bi-pen"></i>
                            </button>
                            <button *ngIf="(osszetevo.szerkesztes && etel.Ingredientsediting)" class="btn btn-sm" (click)="EditIngredient(etel, osszetevo, idx)">
                              <i class="bi bi-check-lg"></i>
                            </button>
                          </td>
                        </tr>
                      </li>
                      <li class="mt-2" *ngIf="etel.Ingredientsediting">
                        <tr>
                          <button class="btn btn-primary btn-sm rounded-circle" (click)="AddIngredient(etel)">
                            <i class="bi bi-plus-lg"></i>
                          </button>
                        </tr>
                      </li>
                    </ul>
                  </table>
                </div>
              <div class="col-1">
                <button *ngIf="!etel.Ingredientsediting" (click)="EditIngredients(etel)" class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i></button>
                <button *ngIf="etel.Ingredientsediting" (click)="SaveEditIngredients(etel)" class="btn btn-primary btn-sm rounded-circle"><i class="bi bi-check2-circle"></i></button>
              </div>
              <div class="col-5 p-3">
                <h5>Elkészítés</h5>
                <div *ngIf="!etel.Textediting">
                  <div *ngFor="let sor of etel.elkeszites.split('\n')" class="mb-2">
                    {{ sor }}
                  </div>
                </div>
                <textarea rows="12" *ngIf="etel.Textediting" class="p-3" [(ngModel)]="etel.elkeszites">
                  
                </textarea>
              </div>
              <div class="col-1">
                <button *ngIf="!etel.Textediting" class="btn btn-primary btn-sm" (click)="EditText(etel.ID)"><i class="bi bi-pencil"></i></button>
                <button *ngIf="etel.Textediting" class="btn btn-primary btn-sm rounded-circle" (click)="SaveEditText(etel.ID)"><i class="bi bi-check2-circle"></i></button>
              </div>
              <div class="col-12 d-flex flex-row-reverse">
                <button class="btn btn-primary btn-sm" (click)="DeleteRecipe(etel.ID)">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>